/* Top Level Styling */
body {
  margin: 0; }

a {
  text-decoration: none !important; }

small.date {
  color: white; }

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }

/* Flexy Stuff */
/* Card and Container Styling */
.brews-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.beer-glass-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.batch-card {
  width: 90%;
  margin-bottom: 50px;
  border: 3px solid #5a5a5a;
  border-radius: 25px;
  padding: 2.5%;
  background: white;
  position: relative; }

.batch-card:before, .batch-card:after {
  background: black;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 9px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-1.5deg); }

.batch-card:after {
  transform: rotate(1.5deg);
  right: 10px;
  left: auto; }

.compressor-light-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.buttons-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  height: 200px; }

/* Element Styling */
.background {
  background-image: url("https://il7.picdn.net/shutterstock/videos/2858305/thumb/1.jpg");
  background-size: cover;
  background-color: black;
  height: 100vh;
  text-align: center; }

.about {
  background-color: black;
  height: 100vh;
  color: #b3b3b3;
  text-align: center; }

.about-title {
  margin: 0;
  padding-top: 5vh; }

.login-h1 {
  margin-top: 0; }

.about-foot {
  margin-top: 75vh;
  text-align: center;
  color: grey; }

.facebook {
  background-color: blue;
  color: white; }

.google {
  background-color: red;
  color: white; }

.lower {
  margin-bottom: 2vh; }

.avatar-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #5a5a5a;
  overflow: hidden; }
  .avatar-container .avatar {
    height: 50px;
    width: auto;
    margin: auto; }

.glass-svg {
  fill: green;
  height: 150px;
  display: block;
  border: none; }

.media-left > a > img {
  width: 100px;
  border-radius: 5px; }

.navbar {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8); }

.favorite-button-clicked,
.favorite-button-empty {
  font-size: 24pt;
  color: #e7711b; }

.compressor-light {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #1e1e1e; }

.compressor-light-off {
  background: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #5a5a5a), color-stop(100%, #969696));
  background: -webkit-linear-gradient(top, #5a5a5a 31%, #969696 100%);
  background: -moz-linear-gradient(top, #5a5a5a 31%, #969696 100%);
  background: -o-linear-gradient(top, #5a5a5a 31%, #969696 100%);
  background: -ms-linear-gradient(top, #5a5a5a 31%, #969696 100%);
  background: linear-gradient(to bottom, #5a5a5a 31%, #969696 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(60,60,60)', endColorstr='rgb(30,30,30)',GradientType=0 ); }

.compressor-light-on {
  background: #94c4fe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #94c4fe), color-stop(100%, #d3f6fe));
  background: -webkit-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -moz-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -o-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -ms-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: linear-gradient(to bottom, #94c4fe 31%, #d3f6fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe',GradientType=0 ); }

.switch-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 3px solid #5a5a5a;
  border-radius: 5px; }

.switch-box-off {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(169, 3, 41, 1)', endColorstr='rgba(109, 0, 25, 1)',GradientType=1 );
  /* IE6-9 */ }

.switch {
  margin: 0 3px;
  height: 30px;
  width: 30px;
  background: rgba(90, 90, 90, 0.9);
  border: 2px solid #1e1e1e;
  border-radius: 50%; }

/*Trying to get some hover effects going, probs going to use NG instead*/
/* Shadow Effects */
