<h1>{{place}}</h1>
<a href="#/home" class="btn btn-default" ng-click="clear()">All batches</a>
<div class="media">
  <div class="media-left">
    <a ng-href="#/batch:{{batch.name}}" ng-click="clear()">
      <img class="media-object" src="http://vector.me/files/images/1/0/100279/mug_of_beer_clip_art.jpg" alt="">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Name: <input type="text" name="batchName" ng-model="batch.name"><small class="date">Creation date: {{batch.created | date}}</small></h4>
    <p><small>Style: {{batch.style}}</small> <small class="date">Last run: {{batch.lastRun | date}}</small></p>
    <input type="text" name="notes" placeholder="make notes on this beer here" ng-model="batch.notes">
    <button type="button" ng-click="saveBatchData(batch)"></button>
  </div>
</div>
