<nav-bar></nav-bar>


<!-- <a href="#/login" class="btn btn-default lower" ng-click="clear()">Logout</a>
<a href="#/newbrew" class="btn btn-default lower" ng-click="clear()">New Brew</a> -->
<batch ng-show="singleBrew"></batch>
<div class="brews-container" ng-repeat="brew in brews" ng-show="!singleBrew">
  <div class="batch-card">
    <div class="col-md-3">
      <a ng-href="#/batch:{{brew.name}}" ng-click="clear()">
        <div class="beer-glass-container">
          <iframe class="glass-svg" src="./images/noun_158151_cc.svg"></iframe>
          <!-- <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27669-200.png" alt="" class="glass-svg" /> -->

        </div>
      </a>
    </div>
    <div class="col-md-8">
      <h2 class="" ng-click="showBatch(brew)">Name:

        {{brew.name}}
        <!-- Test Brew -->
        <small class="date">Creation date:
          <!-- January 12, 2016 -->
           {{brew.created | date}}

         </small></h2>
      <h4 ng-click="showBatch(brew)">Style:
        <!-- West Coast Pale Ale -->
         {{brew.style}}
         <small class="date">Last run:
           <!-- February 10, 2016 -->
            {{brew.lastRun | date}}
          </small></h4>
    </div>
    <div class="col-md-1 buttons-container">
      <div class="compressor-light-container">
        <div class="compressor-light compressor-light-off">

        </div>

      </div>
      <div class="switch-container">
        <div class="switch-box switch-box-off">
          <div class="switch">

          </div>

        </div>
      </div>
      <div ng-click="brew.favorite = !brew.favorite"><span ng-show="brew.favorite" class="glyphicon glyphicon-star favorite-button-clicked"></span><span ng-show="!brew.favorite" class="glyphicon glyphicon-star-empty favorite-button-empty"></span></div>

    </div>
  </div>
</div>
