<div class="background">
  <h1 class="login-h1">{{place}}</h1>
  <a href="#/home" class="btn facebook">
    <span class="fa-stack fa-lg">
      <i class="fa fa-facebook-square fa-stack-1x"></i>
    </span>  Login
  </a>
  <a href="#/home" class="btn google">
    <span class="fa-stack fa-lg">
      <i class="fa fa-google-plus-square fa-stack-1x"></i>
    </span>  Login
  </a>
  <div class="about-foot">
    <h1><span class="glyphicon glyphicon-chevron-down"></span>  About  <span class="glyphicon glyphicon-chevron-down"></span></h1>
  </div>
</div>
<div class="about">

</div>
