<nav-bar></nav-bar>
<h1>{{place}}</h1>
<form>
  <div class="form-group">
    <label for="batchName"></label>
    <input ng-model="brew.name"id="batchName" type="text" class="form-control" placeholder="Name">
    <div ng-model="brew.style" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{brew.style}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-click="setStyle('Lager')">Lager</li>
        <li ng-click="setStyle('Porter')">Porter</li>
        <li ng-click="setStyle('Stout')">Stout</li>
        <li ng-click="setStyle('Ale')">Ale</li>
      </ul>
    </div>
      <div class="input-group" ng-repeat="temp in brew.schedule">
        <span class="input-group-addon">Days</span>
        <input type="number" class="form-control" placeholder="Input time" ng-model="temp[0]">
        <span class="input-group-addon">Temp (f)</span>
        <input type="number" class="form-control" placeholder="Input temp" ng-model="temp[1]">

      </div>
  </div>
  <a href="#/home" type="submit" class="btn btn-default" ng-click="submitBatch()">Save Batch</a>
  <a href="#/home" class="btn btn-default">Cancel</a>
</form>
